<h4>My Profile</h4>

<table>
	<tr>
		<td>
			Image
		</td>
		<td>
			<% if current_user.avatar.present? %>
				<%= image_tag(current_user.avatar.url, size: '100') %>
			<% else %>
				<sm><i>No Photo uploaded</i></sm>
			<% end %>
		</td>
	</tr>

	<tr>
		<td>
			Name
		</td>
		<td>
			<%= current_user.name %>
		</td>
	</tr>

	<tr>
		<td>
			Email
		</td>
		<td>
			<%= current_user.email %>
		</td>
	</tr>

	<tr>
		<td>
			Address
		</td>
		<td>
			<%= current_user.address %>
		</td>
	</tr>

	<tr>
		<td>
			Mobile Number
		</td>
		<td>
			<%= current_user.mobile_number %>
		</td>
	</tr>



	<tr>
		<td>
			<%= link_to "Edit Profile", edit_user_registration_path, class: 'btn btn-success' %>
		</td>
	</tr>

</table>
